lib/jubatus/*
!lib/jubatus/common
!lib/jubatus/common.rb
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.model.js
*.json

# YARD artifacts
.yardoc
_yardoc
doc/
